/*
  Posts
*/

.posts-container {
  margin-bottom: 5rem;
  padding: 0px;
  list-style: none;
}

/*
  Thumbnail
*/

.thumbnail-container {
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 25px;
}

.thumbnail-container img{
  margin-top: -11.5%;
  margin-bottom: -11.5%;
}

/*
  Intro Photo - Cropped display
*/

.intro-photo {
  max-width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.intro-photo img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center 30%;
  border-radius: 8px;
}

