---
layout: default
---

<h1>
  {{ page.title }}
</h1>

<article>
  {{ content }}
</article>

<div style="display: flex; justify-content: center; align-items: center;">
  <div style="text-align: center;">
    <img src="{{ site.github.url }}/assets/img/bridge.jpg" style="width: 225px; height: 300px;">
    <p class="caption"> <font size="2"> Zhongshan Bridge </front>  </p>
  </div>
  <div style="text-align: center;">
    <img src="{{ site.github.url }}/assets/img/lanzhou.jpg" style="width: 225px; height: 300px;">
    <p class="caption"> <font size="2"> Ling Ming Tang Gubba </front> </p>
  </div>
</div>

<div style="display: flex; justify-content: center; align-items: center;">
  <div style="text-align: center;">
    <img src="{{ site.github.url }}/assets/img/mosque.jpg" style="width: 225px; height: 300px;">
    <p class="caption"> <font size="2"> Lanzhou Xiguan Mosque</front> </p>
  </div>
  <div style="text-align: center;">
    <img src="{{ site.github.url }}/assets/img/xian.jpg" style="width: 225px; height: 300px;">
    <p class="caption"> <font size="2"> Xi'an Chinese character</front> </p>
  </div>
</div>
