---
layout: default
---

<h1>
  {{ page.title }}
</h1>

<article>
  {{ content }}
</article>

<br>

<div style="display: flex; align-items: flex-start;">
  <div style="text-align: center;margin-right: 10px;">
    <img src="{{ site.github.url }}/assets/img/bridge.jpg" style="max-width: 100%;">
    <p class="caption"> <font size="2"> Zhongshan Bridge </front>  </p>
  </div>
  
  <div style="text-align: center;">
    <img src="{{ site.github.url }}/assets/img/lanzhou.jpg" style="max-width: 100%;">
    <p class="caption"> <font size="2"> Ling Ming Tang Gubba </front> </p>
  </div>
</div>

<div style="display: flex; align-items: flex-start;">
  <div style="text-align: center;margin-right: 10px;">
    <img src="{{ site.github.url }}/assets/img/mosque.jpg" style="max-width: 100%;">
    <p class="caption"> <font size="2"> Lanzhou Xiguan Mosque</front> </p>
  </div>
  
  <div style="text-align: center;">
    <img src="{{ site.github.url }}/assets/img/lznight.jpg" style="max-width: 100%;">
    <p class="caption"> <font size="2"> Yellow River night </front> </p>
  </div>
</div>

<div style="display: flex; align-items: flex-start;">  
  <div style="text-align: center;margin-right: 10px;">
    <img src="{{ site.github.url }}/assets/img/shanghai.jpg" style="max-width: 100%;">
    <p class="caption"> <font size="2"> Behind The Bund, Shanghai </front> </p>
  </div>
  
  <div style="text-align: center;">
    <img src="{{ site.github.url }}/assets/img/badger.jpg" style="max-width: 100%;">
    <p class="caption"> <font size="2"> Badger in UW-Madison </front> </p>
  </div>
</div>

<div style="display: flex; align-items: flex-start;">    
  <div style="text-align: center;margin-right: 10px;">
    <img src="{{ site.github.url }}/assets/img/icecream.jpg" style="max-width: 100%;">
    <p class="caption"> <font size="2"> Daily Scoop </front> </p>
  </div>
  
   <div style="text-align: center;">
    <img src="{{ site.github.url }}/assets/img/tri.jpg" style="max-width: 100%;">
    <p class="caption"> <font size="2"> MMoCA, Madison </front> </p>
  </div> 
</div>

<div style="display: flex; align-items: flex-start;">    
  <div style="text-align: center;margin-right: 10px;">
    <img src="{{ site.github.url }}/assets/img/madison.jpg" style="max-width: 100%;">
    <p class="caption"> <font size="2"> Bascom Hall </front> </p>
  </div>
  
   <div style="text-align: center;">
    <img src="{{ site.github.url }}/assets/img/ice.jpg" style="max-width: 100%;">
    <p class="caption"> <font size="2"> Lady Liberty on Lake Mendota </front> </p>
  </div> 
</div>

<div style="display: flex; align-items: flex-start;">    
  <div style="text-align: center;margin-right: 10px;">
    <img src="{{ site.github.url }}/assets/img/spring.jpg" style="max-width: 100%;">
    <p class="caption"> <font size="2"> Spring and sakura in XJTU </front> </p>
  </div>

  <div style="text-align: center;margin-right: 10px;">
    <img src="{{ site.github.url }}/assets/img/winter.jpg" style="max-width: 100%;">
    <p class="caption"> <font size="2"> Winter in XJTU </front> </p>
  </div>
</div>


<div style="display: flex; align-items: flex-start;">    
  <div style="text-align: center;margin-right: 10px;">
    <img src="{{ site.github.url }}/assets/img/power.jpg" style="max-width: 90%;">
    <p class="caption"> <font size="2"> One of the countless power plant I visited </front> </p>
  </div>
  
   <div style="text-align: center;">
    <img src="{{ site.github.url }}/assets/img/mask.jpg" style="max-width: 100%;">
    <p class="caption"> <font size="2"> Back to Tang Dynasty, in Xi'an </front> </p>
  </div> 
</div>

<div style="display: flex; align-items: flex-start;">    
  <div style="text-align: center;margin-right: 10px;">
    <img src="{{ site.github.url }}/assets/img/lab.jpg" style="max-width: 100%;">
    <p class="caption"> <font size="2"> XJTU lab view </front> </p>
  </div>
  
   <div style="text-align: center;">
    <img src="{{ site.github.url }}/assets/img/elc.jpg" style="max-width: 100%;">
    <p class="caption"> <font size="2"> Electronic technical practice </front> </p>
  </div> 
</div>